.navbar {
    margin-bottom: 0;
}

.tab-header {
    border-bottom: 1px solid #E7E7E7;
    border-left: 1px solid #E7E7E7;
    padding-left: 4px;
}

.content {
    border-left: 1px solid #E7E7E7;
    padding-left: 4px;
    min-height: 100%;
}

ul.tab-list {
    margin-bottom: 0;
}

tr.odd {
    background-color: #DDD;
}

li.tab {
    cursor: pointer;
    line-height: 2;

    margin-right: 2px;

    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.bg-default.tab {
    border: 1px solid #DDD;
    background-color: #EEE;
    color: #333;
}
