<div class="row">
    <div class="col-xs-1">
        <u>{{ stat.title }}</u>
    </div>
    <div class="text-center text-capitalize col-xs-1" ng-repeat="col in stat.additionalColumns | orderBy:statOrder">
        <u>{{ col.title }}</u>
    </div>
    <div class="text-center text-capitalize col-xs-1" ng-repeat="mod in level.data[stat.items[0].name] | orderObjectBy:statOrder">
        <u>{{ mod.title || mod._objectKey }}</u>
    </div>
</div>
<div class="row" ng-repeat="item in stat.items">
    <div class="col-xs-1">
        {{ item.title }} {{ getStat(character, level, item.name) }}
    </div>
    <div class="text-center col-xs-1" ng-repeat="col in stat.additionalColumns | orderBy:statOrder">
        {{ col.value(getStat(character, level, item.name)) }}
    </div>
    <div class="text-center col-xs-1" ng-repeat="mod in level.data[item.name] | orderObjectBy:statOrder">
        <div ng-if="mod.type !== BONUS_TYPE.DYNAMIC">{{ getValue(character, level, mod) }}</div>
        <div ng-if="mod.type === BONUS_TYPE.DYNAMIC" class="clickable">
            <div ng-if="edit.id !== item.name + '-' + mod._objectKey" ng-click="edit.set(item.name + '-' + mod._objectKey, level.data[item.name][mod._objectKey], 'value')">
                <span ng-if="!mod.applyOnce">({{ getStatMod(character, level, item.name, mod._objectKey) }})</span>
                [&nbsp;{{ getValue(character, level, mod) }}&nbsp;]
            </div>
            <div class="row" ng-if="edit.id === item.name + '-' + mod._objectKey">
                <div class="col-xs-9">
                    <input auto-focus class="form-control input-sm" type="number" step="any" ng-model="level.data[item.name][mod._objectKey].value" />
                </div>
                <div class="col-xs-3">
                    <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                    <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </div>
    </div>
</div>

