<div class="row">
    <div class="col-xs-6 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-md-1">
                <u>{{ stat.title }}</u>
            </div>
            <div class="text-capitalize" ng-repeat="mod in level.data[stat.name] | orderObjectBy:statOrder">
                <div class="col-md-1 text-center visible-md-block visible-lg-block">
                    <u>{{ mod.title || mod._objectKey }}</u>
                </div>
                <div class="col-xs-offset-1 col-xs-11 visible-xs-block visible-sm-block">
                    {{ mod.title || mod._objectKey }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-12">
        <div class="row">
            <div class="col-xs-12 col-md-1">
                <div class="text-center visible-xs-block bisible-sm-block">
                    <strong>{{ getStat(character, level, stat.name) }}</strong>
                </div>
                <div class="visible-md-block visible-lg-block">
                    {{ getStat(character, level, stat.name) }}
                </div>
            </div>
            <div class="text-center col-xs-12 col-md-1" ng-repeat="mod in level.data[stat.name] | orderObjectBy:statOrder">
                <div ng-if="mod.type !== BONUS_TYPE.DYNAMIC">{{ getValue(character, level, mod) }}</div>
                <div ng-if="mod.type === BONUS_TYPE.DYNAMIC" class="clickable">
                    <div ng-if="edit.id !== stat.name + '-' + mod._objectKey" ng-click="edit.set(stat.name + '-' + mod._objectKey, level.data[stat.name][mod._objectKey], 'value')">
                        <span ng-if="!mod.applyOnce">({{ getStatMod(character, level, stat.name, mod._objectKey) }})</span>
                         [&nbsp;{{ getValue(character, level, mod) }}&nbsp;]
                    </div>
                    <div class="row" ng-if="edit.id === stat.name + '-' + mod._objectKey">
                        <div class="col-xs-12">
                            <input class="form-control input-sm" type="number" step="any" ng-model="level.data[stat.name][mod._objectKey].value" />
                        </div>
                        <div class="col-xs-12">
                            <button type="button" ng-click="edit.clear()" class="col-xs-6 btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                            <button type="button" ng-click="edit.cancel()" class="col-xs-6 btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

