<div class="row">
    <div class="col-md-1">
        <u>{{ stat.title }}</u>
        {{ getStat(character, level, stat.name) }}
    </div>
    <div class="col-md-2" ng-repeat="mod in level.data[stat.name] | orderObjectBy:stat.order">
        <div class="col-md-4 text-capitalize">
            {{ mod.title || mod._objectKey }}:
        </div>
        <div class="col-md-8">
            <div ng-if="mod.type !== BONUS_TYPE.DYNAMIC">{{ getValue(character, level, mod) }}</div>
            <div ng-if="mod.type === BONUS_TYPE.DYNAMIC" class="clickable">
                <div ng-if="edit.id !== stat.name + '-' + mod._objectKey" ng-click="edit.set(stat.name + '-' + mod._objectKey, level.data[stat.name][mod._objectKey], 'value')">
                    <span ng-if="!mod.applyOnce">({{ getStatMod(character, level, stat.name, mod._objectKey) }})</span>
                     [&nbsp;{{ getValue(character, level, mod) }}&nbsp;]
                </div>
                <div class="row" ng-if="edit.id === stat.name + '-' + mod._objectKey">
                    <div class="col-md-6">
                        <input auto-focus class="form-control input-sm" type="number" step="any" ng-model="level.data[stat.name][mod._objectKey].value" />
                    </div>
                    <div class="col-md-6">
                        <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                        <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

