<span ng-if="calcType(source.type)">{{calcValue(character, level, source)}}</span>
<select ng-if="source.type == BONUS_TYPE.ABILITY" class="form-control input-sm" ng-model="source.value">
    <option ng-repeat="ability in abilityOptions" class="text-capitalize" value="{{ability}}" ng-selected="ability == source.value">{{ability}}</option>
</select>
<select ng-if="source.type == BONUS_TYPE.STAT" class="form-control input-sm" ng-model="source.value">
    <option ng-repeat="stat in statOptions" class="text-capitalize" value="{{stat}}" ng-selected="stat == source.value">{{stat}}</option>
</select>

<div class="row" ng-if="textType(source.type)">
    <input-field class="col-md-10" id="name + '-name' + $index" title="'Name:'" type="text" source="source" target="'name'"></input-field>
    <input-field class="col-md-2" id="name + '-value-' + $index" type="text" source="source" target="'value'"></input-field>
</div>

<div class="row" ng-if="numberType(source.type)">
    <input-field class="col-md-10" id="name + '-name' + $index" title="'Name:'" type="number" source="source" target="'name'"></input-field>
    <input-field class="col-md-2" id="name + '-value-' + $index" type="number" source="source" target="'value'"></input-field>
</div>

