<div class="row">
    <div class="row">
        <tabset class="col-md-12">
            <tab ng-repeat="group in level.data.attackGroups" active="group.active" select="edit.clear()">
                <tab-heading>
                    {{ group.name }}
                    <a ng-click="remove($index)" href=""><i class="glyphicon glyphicon-remove close"></i></a>
                </tab-heading>
                <attack-group class="col-md-12" sort="sort" group="group" level="level" character="character"></attack-group>
            </tab>
            <tab select="add()">
                <tab-heading>
                    <span class="glyphicon glyphicon-plus"></span>
                </tab-heading>
            </tab>
            <tab select="copy()">
                <tab-heading>
                    <span class="glyphicon glyphicon-copy"></span>
                </tab-heading>
            </tab>
            <tab select="copyPreviousLevel()">
                <tab-heading>
                    <span class="glyphicon glyphicon-copy"></span>
                    <span>Previous level</span>
                </tab-heading>
            </tab>
        </tabset>
    </div>
</div>

