<div class="row">
    <input-field class="col-xs-12" id="'group-name'" title="'Name:'" css="'h3'" type="'text'" source="group" target="'name'"></input-field>
    <div class="col-xs-12">
        <strong>DPR:</strong>
        {{ dpr(character, level, group) | number: 4 }}
    </div>

    <div class="row">
        <tabset class="col-xs-12">
            <tab ng-repeat="attack in group.data.attacks" active="attack.active" select="edit.clear()">
                <tab-heading>
                    {{ attack.name }}
                    <a ng-click="remove($index)" href=""><i class="glyphicon glyphicon-remove close"></i></a>
                </tab-heading>
                <attack ng-if="attack.active" class="col-xs-12" sort="sort" attack="attack" group="group" level="level" character="character"></attack>
            </tab>
            <tab select="add()">
                <tab-heading>
                    <span class="glyphicon glyphicon-plus"></span>
                </tab-heading>
            </tab>
            <tab select="copy()">
                <tab-heading>
                    <span class="glyphicon glyphicon-copy"></span>
                </tab-heading>
            </tab>
        </tabset>
    </div>
</div>

