<input-field id="'name'" css="'h1'" type="text" source="character" target="'name'"></input-field>
<input-field id="'race'" title="'Race:'" type="text" source="character.data" target="'race'"></input-field>
<input-field id="'class'" title="'Class:'" type="text" source="character.data" target="'class'"></input-field>

<strong>Base Ability Scores</strong>
<input-ability scores="abilityScores" source="character.data"></input-ability>

<div ng-controller="TabsLevelController">
    <tabset>
        <tab ng-repeat="(ind, level) in levels" active="level.active" select="edit.clear()">
            <tab-heading>
                {{ level.name }}
                <span class="close" ng-click="remove(ind)">&times;</span>
            </tab-heading>
            <level class="row col-md-12" level="level" character="character.data"></level>
        </tab>
        <tab select="add()">
            <tab-heading>
                <span class="glyphicon glyphicon-plus"></span>
            </tab-heading>
        </tab>
    </tabset>
</div>

