<div class="row">
    <div class="col-xs-6 col-md-4"><strong>Equipment</strong> <span class="glyphicon glyphicon-copy text-primary clickable" ng-click="copyPreviousLevel()"></span></div>
    <div class="col-xs-6 col-md-4 text-right">{{ total('value') }} / {{ wealthByLevel(level.name) }} GP</div>
    <div class="col-xs-12 col-md-4 text-right">
        {{ total('weight') }} lbs
        &nbsp;
        <strong class="visible-md-inline visible-lg-inline">Light:</strong>{{ carryCapacity.light(getStat(character, level, 'strength')) }}<span class="visible-xs-inline visible-sm-inline"> /</span>
        <strong class="visible-md-inline visible-lg-inline">Medium:</strong>{{ carryCapacity.medium(getStat(character, level, 'strength')) }}<span class="visible-xs-inline visible-sm-inline"> /</span>
        <strong class="visible-md-inline visible-lg-inline">Heavy:</strong>{{ carryCapacity.heavy(getStat(character, level, 'strength')) }}
    </div>
</div>

<div class="row">
    <div class="col-xs-6"><strong>Item name</strong> <a href="" ng-click="add()" class="text-success glyphicon glyphicon-plus"></a></div>
    <div class="col-xs-3"><strong>Value</strong></div>
    <div class="col-xs-3"><strong>Weight</strong></div>
</div>

<div ng-repeat="item in level.data.equipment" class="row">
    <input-field class="col-xs-6" delete="remove" delindex="$index" id="'item-name-' + $index" type="'text'" source="item" target="'name'"></input-field>
    <input-field class="col-xs-3" id="'item-value-' + $index" type="'number'" step="any" source="item" target="'value'"></input-field>
    <input-field class="col-xs-3" id="'item-weight-' + $index" type="'number'" step="any" source="item" target="'weight'"></input-field>
</div>

