<div class="row">
    <div class="col-xs-12"><strong>Feats</strong></div>
</div>

<div class="row">
    <div class="col-xs-10 col-md-3"><strong>Feat</strong> <a href="" ng-click="add()" class="text-success glyphicon glyphicon-plus"></a></div>
    <div class="visible-md-block visible-lg-block col-md-2"><strong>Type</strong></div>
    <div class="col-xs-2 col-md-1 text-center"><strong>Level</strong></div>
    <div class="visible-md-block visible-lg-block col-md-5"><strong>Description</strong></div>
</div>

<div ng-repeat="feat in feats" class="row">
    <div class="col-xs-10 col-md-3">{{ feat.name }}</div>
    <div class="visible-md-block visible-md-lg col-md-2">{{ feat.type }}</div>
    <div class="col-xs-2 col-md-1 text-center">{{ feat.level }}</div>
    <div class="visible-md-block visible-lg-block col-md-5">{{ feat.description }}</div>
</div>

<div ng-repeat="feat in level.data.feats" class="row">
    <input-field class="col-xs-10 col-md-3" delete="remove" delindex="$index" id="'feat-name-' + $index" type="'text'" source="feat" target="'name'"></input-field>
    <input-field class="visible-md-block visible-lg-block col-md-2" id="'feat-type-' + $index" type="'text'" source="feat" target="'type'"></input-field>
    <div class="col-xs-2 col-md-1 text-center">{{ level.name }}</div>
    <input-field class="visible-md-block visible-lg-block col-md-5" id="'feat-description-' + $index" type="'text'" source="feat" target="'description'"></input-field>
</div>

