<div class="row">
    <div class="col-md-12"><strong>Feats</strong></div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1"><strong>Feat</strong></div>
    <div class="col-md-2"><strong>Type</strong></div>
    <div class="col-md-1 text-center"><strong>Level</strong></div>
    <div class="col-md-5"><strong>Description</strong></div>
</div>

<div ng-repeat="feat in feats" class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">{{ feat.name }}</div>
    <div class="col-md-2">{{ feat.type }}</div>
    <div class="col-md-1 text-center">{{ feat.level }}</div>
    <div class="col-md-5">{{ feat.description }}</div>
</div>

<div ng-repeat="feat in level.data.feats" class="row">
    <button type="button" class="btn btn-danger btn-xs col-md-1 glyphicon glyphicon-remove" ng-click="remove($index)"></button>
    <input-field class="col-md-3" id="'feat-name-' + $index" type="'text'" source="feat" target="'name'"></input-field>
    <input-field class="col-md-2" id="'feat-type-' + $index" type="'text'" source="feat" target="'type'"></input-field>
    <div class="col-md-1 text-center">{{ level.name }}</div>
    <input-field class="col-md-5" id="'feat-description-' + $index" type="'text'" source="feat" target="'description'"></input-field>
</div>

<div class="row">
    <button type="button" ng-click="add()" class="btn btn-success col-md-1 btn-xs glyphicon glyphicon-plus"></button>
    <div class="col-md-11">feat</div>
</div>
