<div class="row">
    <input-field class="col-md-12" id="'level'" oncng="sort" title="'Level:'" css="'h2'" type="'number'" source="level" target="'name'" step="'any'"></input-field>

    <standard-stats class="col-md-12" character="character" level="level"></standard-stats>
    <attack-groups class="col-md-12" character="character" level="level"></attack-groups>
    <hr class="col-md-12">
    <equipment class="col-md-12" character="character" level="level"></equipment>
    <feat class="col-md-12" character="character" level="level"></feat>
</div>
