<div class="container-fluid">

    <div class="row">
        <div class="col-md-12" ng-controller="CharacterCtrl as characters">
            <tabs tabs="characters" css="'bg-default'" selected="'selected'" unselected="'unselected'"></tabs>

            <!-- Body Content -->
            <div class="row content bg-default">
                <div class="col-md-8">
                    <input-field id="'name'" css="'h1'" type="text" source="characters.selected" target="'name'"></input-field>
                </div>

                <!-- TODO -->
                <div class="col-md-4 row text-right">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" ng-click="graphDPR()">Show DPR Graph</button>
                        <button type="button" class="btn btn-default" ng-click="importStart()">Import</button>
                        <button type="button" class="btn btn-default" ng-click="export()">Export</button>
                    </div>
                </div>

                <!-- Static information -->
                <div class="row col-md-8">
                    <div class="col-md-12">
                        <input-field id="'race'" title="'Race:'" type="text" source="characters.selected" target="'race'"></input-field>
                        <input-field id="'class'" title="'Class:'" type="text" source="characters.selected" target="'class'"></input-field>
                    </div>
                    <div class="col-md-12">
                        <strong>Base Ability Scores</strong>
                        <input-ability scores='abilityScores', source='characters.selected'></input-ability>
                    </div>
                    <div class="col-md-12">
                        <strong>Point Buy: </strong>
                        {{ getPointBuy(characters.selected) }}
                    </div>
                </div>

                <!-- Import/Export Fields TODO -->
                <div class="col-md-4" ng-if="edit.id === 'import' || edit.id === 'export'">
                    <textarea class="form-control" rows="6" ng-model="importExport" ng-paste="importPaste($event)"></textarea>
                    <div class="col-md-12 text-right" ng-if="edit.id === 'import'">
                        <button type="button" class="btn btn-primary" ng-click="importEnd()">Submit</button>
                    </div>
                </div>

                <!-- Level information -->
                <div class="row col-md-12" ng-controller="LevelListCtrl as levels">
                    <tabs tabs="levels" itemname="'max'" class="col-md-12" css="'bg-default'" selected="'unselected'" unselected="'selected'"></tabs>

                    <!-- Level information -->
                    <div class="col-md-12 bg-unstyle">
                        <div ng-if="characters.selected.levels.length > 0" class="row col-md-12">
                            <input-field id="'level'" title="'Level:'" css="'h2'" type="'number'" source="levels.selected" target="'name'" step="'any'"></input-field>
                            <!-- Standard Stats -->
                            <standard-stats></standard-stats>
                            <!-- /Standard Stat -->

                            <div class="col-md-12 row">
                                <div class="col-md-12">
                                    <u>Attack Groups</u>
                                    <button type="button" ng-click="addAttackGroup(characters.selected.selectedLevel)" class="btn btn-success btn-xs glyphicon glyphicon-plus"></button>
                                    <button type="button" ng-click="copyAttackGroupFromPreviousLevel(characters.selected, characters.selected.selectedLevel)" class="btn btn-primary btn-xs glyphicon glyphicon-copy"></button>
                                </div>
                                <div class="col-md-12" ng-repeat="(ind, atkGroup) in characters.selected.selectedLevel.attackGroups">
                                    <div class="col-md-1">
                                        <button type="button" ng-click="removeAttackGroup(characters.selected.selectedLevel, ind)" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
                                        <button type="button" ng-click="selectAttackGroup(characters.selected.selectedLevel, ind)" class="btn btn-primary btn-xs glyphicon glyphicon-pencil" ng-if="characters.selected.selectedLevel.selectedAttackGroupIndex !== ind"></button>
                                        <button type="button" ng-click="addAttack(characters.selected.selectedLevel.selectedAttackGroup)" class="btn btn-success btn-xs glyphicon glyphicon-plus" ng-if="characters.selected.selectedLevel.selectedAttackGroupIndex === ind"></button>
                                    </div>
                                    <div class="col-md-11" ng-if="characters.selected.selectedLevel.selectedAttackGroupIndex !== ind">
                                        {{ atkGroup.name }}
                                        <strong>DPR</strong>: {{ calculateDPR(characters.selected, characters.selected.selectedLevel, atkGroup) | number: 4 }}
                                    </div>
                                    <div class="col-md-11 clickable" ng-click="setEdit('atkGroup-name', 'characters.selected.selectedLevel.selectedAttackGroup.name')" ng-if="edit.id !== 'atkGroup-name' && characters.selected.selectedLevel.selectedAttackGroupIndex === ind">
                                        [&nbsp;{{ atkGroup.name }}&nbsp;]
                                        <strong>DPR</strong>: {{ calculateDPR(characters.selected, characters.selected.selectedLevel, atkGroup) | number: 4 }}
                                    </div>
                                    <div class="col-md-11 row" ng-if="edit.id === 'atkGroup-name'">
                                        <div class="col-md-11">
                                            <input class="form-control input-sm" type="text" ng-model="characters.selected.selectedLevel.selectedAttackGroup.name" />
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row bg-default rounded" ng-if="characters.selected.selectedLevel.selectedAttackGroupIndex === ind">
                                        <div class="col-md-12">
                                            <u>Attacks</u>
                                        </div>
                                        <div class="col-md-12 row" ng-if="characters.selected.selectedLevel.selectedAttackGroupIndex === ind" ng-repeat="(atkInd, atk) in atkGroup.attacks">
                                            <div class="col-md-2 row">
                                                <div class="col-md-5 text-center">
                                                    <button type="button" ng-click="removeAttack(atkGroup, atkInd)" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
                                                    <button type="button" ng-click="selectAttack(atkGroup, atkInd)" class="btn btn-primary btn-xs glyphicon glyphicon-pencil" ng-if="atkGroup.selectedAttackIndex !== atkInd"></button>
                                                </div>
                                                <div class="col-md-7" ng-if="atkGroup.selectedAttackIndex !== atkInd">
                                                    {{ atk.weapon }}
                                                    <p><strong>DPR</strong>:&nbsp;{{ calculateAttackDPR(characters.selected, characters.selected.selectedLevel, atk) | number: 4 }}
                                                </div>
                                                <div class="col-md-7" ng-if="atkGroup.selectedAttackIndex === atkInd">
                                                    <div class="col-md-12 row clickable" ng-click="setEdit('atk-weapon', 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.weapon')" ng-if="edit.id !== 'atk-weapon'">
                                                        [&nbsp;{{ atk.weapon }}&nbsp;]
                                                        <p><strong>DPR</strong>:&nbsp;{{ calculateAttackDPR(characters.selected, characters.selected.selectedLevel, atk, 12) | number: 4 }}
                                                    </div>
                                                    <div class="col-md-12 row text-center" ng-if="edit.id === 'atk-weapon'">
                                                        <input class="form-control input-sm" type="text" ng-model="characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.weapon" />
                                                        <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                        <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 row">
                                                <div class="col-md-12">
                                                    <u>Hit Bonus:</u>
                                                    {{ getHit(characters.selected, characters.selected.selectedLevel, atk) }}
                                                    <button type="button" ng-click="addHit(atk)" ng-if="atkGroup.selectedAttackIndex === atkInd" class="btn btn-success btn-xs glyphicon glyphicon-plus"></button>
                                                </div>
                                                <div ng-if="atkGroup.selectedAttackIndex === atkInd" class="col-md-12 row">
                                                    <div class="col-md-12 row">
                                                        <div class="col-md-6">
                                                            <u>Type</u>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <u>Value</u>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 row" ng-repeat="(hitInd, hit) in atk.hitChance">
                                                        <div class="col-md-6 clickable" ng-click="setEdit('atkHit-' + atkInd + '-' + hitInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.hitChance.' + hitInd + '.type', hit, 'value')" ng-if="edit.id !== 'atkHit-' + atkInd + '-' + hitInd">
                                                            <button type="button" ng-click="removeHit(atk, hitInd)" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
                                                            [&nbsp;{{ bonusTypeText(hit.type) }}&nbsp;]
                                                        </div>
                                                        <div class="col-md-6 text-center" ng-if="edit.id === 'atkHit-' + atkInd + '-' + hitInd">
                                                            <select class="form-control input-sm" ng-model="hit.type">
                                                                <option value="{{ BONUS_TYPE[select] }}" ng-selected="BONUS_TYPE[select] == hit.type" ng-repeat="select in ['ABILITY', 'STAT', 'POWER_ATTACK_HIT', 'TWO_WEAPON', 'DYNAMIC' ]">{{ bonusTypeText(BONUS_TYPE[select]) }}</option>
                                                            </select>
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-6 text-capitalize clickable" ng-click="setEdit('atkHitBonus-' + atkInd + '-' + hitInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.hitChance.' + hitInd + '.value')" ng-if="edit.id !== 'atkHitBonus-' + atkInd + '-' + hitInd && (hit.type == BONUS_TYPE.ABILITY || hit.type == BONUS_TYPE.STAT || hit.type === BONUS_TYPE.DYNAMIC)">
                                                            [&nbsp;{{ hit.value }}&nbsp;]
                                                        </div>
                                                        <div class="col-md-6 text-capitalize" ng-if="hit.type == BONUS_TYPE.TWO_WEAPON">
                                                            {{ getValue(characters.selected, characters.selected.selectedLevel, { 'type': BONUS_TYPE.TWO_WEAPON }) }}
                                                        </div>
                                                        <div class="col-md-6 text-capitalize" ng-if="hit.type == BONUS_TYPE.POWER_ATTACK_HIT">
                                                            {{ getValue(characters.selected, characters.selected.selectedLevel, { 'type': BONUS_TYPE.POWER_ATTACK_HIT }) }}
                                                        </div>
                                                        <div class="col-md-6 text-center" ng-if="hit.type == BONUS_TYPE.ABILITY && edit.id === 'atkHitBonus-' + atkInd + '-' + hitInd">
                                                            <select class="form-control input-sm" ng-model="hit.value">
                                                                <option class="text-capitalize" value="{{ select }}" ng-selected="select == hit.value" ng-repeat="select in abilityScores">{{ select }}</option>
                                                            </select>
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-6 text-center" ng-if="hit.type == BONUS_TYPE.STAT && edit.id === 'atkHitBonus-' + atkInd + '-' + hitInd">
                                                            <select class="form-control input-sm" ng-model="hit.value">
                                                                <option class="text-capitalize" value="{{ select }}" ng-selected="select == hit.value" ng-repeat="select in [ 'bab' ]">{{ select }}</option>
                                                            </select>
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-6 text-center" ng-if="hit.type == BONUS_TYPE.DYNAMIC && edit.id === 'atkHitBonus-' + atkInd + '-' + hitInd">
                                                            <input type="number" ng-model="hit.value" />
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 row">
                                                <div class="col-md-12">
                                                    <u>Average Dmg:</u>
                                                    {{ getDmg(characters.selected, characters.selected.selectedLevel, atk) }}
                                                    <button type="button" ng-if="atkGroup.selectedAttackIndex === atkInd" ng-click="addDmg(atk)" class="btn btn-success btn-xs glyphicon glyphicon-plus" />
                                                </div>
                                                <div ng-if="atkGroup.selectedAttackIndex === atkInd" class="col-md-12 row">
                                                    <div class="col-md-12 row">
                                                        <div class="col-md-4">
                                                            <u>Type</u>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <u>Value</u>
                                                        </div>
                                                        <div class="col-md-3 text-center">
                                                            <u>Multiplier</u>
                                                        </div>
                                                        <div class="col-md-1 text-center">
                                                            <u>Percision</u>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 row" ng-repeat="(dmgInd, dmg) in atk.damage">
                                                        <div class="col-md-4 clickable" ng-click="setEdit('atkDmg-' + atkInd + '-' + dmgInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.damage.' + dmgInd + '.type', dmg, 'value')" ng-if="edit.id !== 'atkDmg-' + atkInd + '-' + dmgInd">
                                                            <button type="button" ng-click="removeDmg(atk, dmgInd)" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
                                                            [&nbsp;{{ bonusTypeText(dmg.type) }}&nbsp;]
                                                        </div>
                                                        <div class="col-md-4 text-center" ng-if="edit.id === 'atkDmg-' + atkInd + '-' + dmgInd">
                                                            <select class="form-control input-sm" ng-model="dmg.type">
                                                                <option value="{{ BONUS_TYPE[select] }}" ng-selected="BONUS_TYPE[select] == dmg.type" ng-repeat="select in ['DICE', 'ABILITY', 'POWER_ATTACK_DMG', 'DYNAMIC' ]">{{ bonusTypeText(BONUS_TYPE[select]) }}</option>
                                                            </select>
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-4 text-capitalize clickable" ng-click="setEdit('atkDmgBonus-' + atkInd + '-' + dmgInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.damage.' + dmgInd + '.value')" ng-if="edit.id !== 'atkDmgBonus-' + atkInd + '-' + dmgInd && (dmg.type == BONUS_TYPE.ABILITY || dmg.type == BONUS_TYPE.DYNAMIC || dmg.type == BONUS_TYPE.DICE)">
                                                            [&nbsp;{{ dmg.value }}&nbsp;]
                                                        </div>
                                                        <div class="col-md-4 text-capitalize" ng-click="setEdit('atkDmgBonus-' + atkInd + '-' + dmgInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.damage' + damg.ind + '.type', dmag, 'value')" ng-if="dmg.type == BONUS_TYPE.POWER_ATTACK_DMG && edit.id !== 'atkDmgBonus-' + atkInd + '-' + dmgInd">
                                                            [&nbsp;{{ getValue(characters.selected, characters.selected.selectedLevel, dmg) }}&nbsp;]
                                                        </div>
                                                        <div class="col-md-4 text-center" ng-if="dmg.type == BONUS_TYPE.POWER_ATTACK_DMG && edit.id === 'atkDmgBonus-' + atkInd + '-' + dmgInd">
                                                            <div>
                                                                Two-handed:
                                                                <input type="checkbox" ng-model="dmg.value" ng-checked="dmg.value" />
                                                            </div>
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-4 text-center" ng-if="dmg.type == BONUS_TYPE.ABILITY && edit.id === 'atkDmgBonus-' + atkInd + '-' + dmgInd">
                                                            <select class="form-control input-sm" ng-model="dmg.value">
                                                                <option class="text-capitalize" value="{{ select }}" ng-selected="select == dmg.value" ng-repeat="select in abilityScores">{{ select }}</option>
                                                            </select>
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-4 text-center" ng-if="dmg.type == BONUS_TYPE.DYNAMIC && edit.id === 'atkDmgBonus-' + atkInd + '-' + dmgInd">
                                                            <input class="form-control input-sm" type="number" ng-model="dmg.value" />
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-4 text-center" ng-if="dmg.type == BONUS_TYPE.DICE && edit.id === 'atkDmgBonus-' + atkInd + '-' + dmgInd">
                                                            <input class="form-control input-sm" type="text" ng-model="dmg.value" />
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-3 clickable text-center" ng-click="setEdit('atkDmgMod-' + atkInd + '-' + dmgInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.damage.' + dmgInd + '.modifier')" ng-if="edit.id !== 'atkDmgMod-' + atkInd + '-' + dmgInd">
                                                            [&nbsp;{{ dmg.modifier }}&nbsp;]
                                                        </div>
                                                        <div class="col-md-3 text-center" ng-if="edit.id === 'atkDmgMod-' + atkInd + '-' + dmgInd">
                                                            <input class="form-control input-sm" type="number" ng-model="dmg.modifier" />
                                                            <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                            <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                        </div>
                                                        <div class="col-md-1 text-center">
                                                            <input type="checkbox" ng-model="dmg.percision" ng-checked="dmg.percision" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 row">
                                                <div class="col-md-6">
                                                    <u>Crit Threat</u>:
                                                    <span ng-if="atkGroup.selectedAttackIndex !== atkInd">
                                                        {{ atk.critThreat }}
                                                    </span>
                                                    <span class="clickable" ng-if="atkGroup.selectedAttackIndex === atkInd && edit.id !== 'atkCritThreat-' + atkInd" ng-click="setEdit('atkCritThreat-' + atkInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.critThreat')">
                                                        [&nbsp;{{ atk.critThreat }}&nbsp;]
                                                    </span>
                                                    <span ng-if="atkGroup.selectedAttackIndex === atkInd && edit.id === 'atkCritThreat-' + atkInd">
                                                        <input class="form-control input-sm" type="number" ng-model="atk.critThreat" />
                                                        <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                        <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                                <div class="col-md-6">
                                                    <u>Crit Multi</u>:
                                                    <span ng-if="atkGroup.selectedAttackIndex !== atkInd">
                                                        {{ atk.critMultiplier }}
                                                    </span>
                                                    <span class="clickable" ng-if="atkGroup.selectedAttackIndex === atkInd && edit.id !== 'atkCritMulti-' + atkInd" ng-click="setEdit('atkCritMulti-' + atkInd, 'characters.selected.selectedLevel.selectedAttackGroup.selectedAttack.critMultiplier')">
                                                        [&nbsp;{{ atk.critMultiplier }}&nbsp;]
                                                    </span>
                                                    <span ng-if="atkGroup.selectedAttackIndex === atkInd && edit.id === 'atkCritMulti-' + atkInd">
                                                        <input class="form-control input-sm" type="number" ng-model="atk.critMultiplier" />
                                                        <button type="button" ng-click="edit.clear()" class="btn btn-success btn-xs glyphicon glyphicon-ok"></span>
                                                        <button type="button" ng-click="edit.cancel()" class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

<div class="panel panel-primary full" ng-show="edit.id === 'graph'">
    <div class="panel-heading">
        <button class="btn btn-xs glyphicon glyphicon-remove close" ng-click="edit.clear()"></button>
        DPR Graph
    </div>
    <div class="panel-body">
        <canvas id="chart"></canvas>
        <ul><li ng-style="char.style" ng-repeat="char in characters">{{ char.name }}</li></ul>
    </div>
</div>
