<div class="container-fluid" ng-controller="TabsCharacterController">
    <div class="">
        <tabset class="col-md-12">
            <tab select="toggleGraph()" deselect="toggleGraph()" heading="Graphs">
                <graph class="col-md-12" characters="characters"></graph>
            </tab>
            <tab ng-repeat="character in characters" active="character.active" select="edit.clear()">
                <tab-heading>
                    {{ character.name }}
                    <a ng-click="remove($index)" href=""><i class="glyphicon glyphicon-remove close"></i></a>
                </tab-heading>
                <character class="col-md-12" ng-if="character.active" character="character"></character>
            </tab>
            <tab select="add()">
                <tab-heading>
                    <span class="glyphicon glyphicon-plus"></span>
                </tab-heading>
            </tab>
            <tab select="copy()">
                <tab-heading>
                    <span class="glyphicon glyphicon-copy"></span>
                </tab-heading>
            </tab>
        </tabset>
    </div>
</div>

